/.idea/*
/support/system.db
/server/msh/db/*
/server/msh/.idea/*
/server/msh/.pytest_cache/*
/server/msh/*.log
/server/msh/.coverage
/server/msh/coverage.xml
/server/msh/test-report.xml
/server/msh/settings.xml
/server/msh/test/__pycache__/*
/server/msh/module/__pycache__/*
/server/msh/module/*.pyc
/server/msh/controller/__pycache__/*
/server/msh/controller/*.pyc
/server/msh/.scannerwork/*
/server/oauth/datastore.js
/script/deploy/deploy.bat
/Docker/base_image_ARM/setup/*
/Docker/base_image_ARM/qemu-arm-static
/Docker/base_image_x64/setup/*
/Docker/raspberry_image_ARM/setup/*
/Docker/raspberry_image_x64/setup/*
/Docker/raspberry_image_ARM/server/*
/Docker/raspberry_image_ARM/*.tar
/Docker/raspberry_image_ARM/*.img
/Docker/raspberry_image_x64/server/*
/Docker/esp_rele_image/.idea/*
/Docker/esp_rele_image/*.log
