/.idea/*
/server/msh/db/*
/server/msh/.idea/*
/server/msh/*.log
/server/msh/module/__pycache__/*
/server/msh/module/*.pyc
/server/msh/controller/__pycache__/*
/server/msh/controller/*.pyc
/Docker/raspberry_image/server/*
/Docker/esp_rele_image/.idea/*
/Docker/esp_rele_image/*.log
