<settings>
	<lingua>IT</lingua>
	<timestamp>%Y-%m-%d %H:%M:%S</timestamp>
	<project_id_google_actions>smart-home-android-thing-deadd</project_id_google_actions>
	<log>
		<!-- Se valorizzato con None logga in console -->
		<filename>msh.log</filename>
		<format>%(asctime)s|%(levelname)s|%(filename)s:%(lineno)s|%(message)s</format>
		<!-- debug, info, warning, error, critical -->
		<level>info</level>
	</log>
	<oauth_google>
		<client_id>953862069497-kouomekb0g4ol2pgi03ud4gf7avqpq70.apps.googleusercontent.com</client_id>
		<client_secret>7o3aa-khFkU66eHQJa71fBlM</client_secret>
		<url_callback>https://c07aa5e5.ngrok.io/login</url_callback>
	</oauth_google>
</settings>
