.container {
    max-width: 90%;
}

.scrollable-menu {
    height: auto;
    max-height: 500%;
    overflow-x: hidden;
}

.make-cursor {
    cursor: pointer;
}

.remove-margin {
    margin-right: 0px;
    margin-left: 0px;
}

.order-icon {
    width: 8px;
    height: 8px;
}

.principale {
    padding: 0.5%;
}

.tooltip-inner {
    background-color: #f00;
}

.bs-tooltip-top .arrow:before {
    border-top-color: #2c53a2 !important;
}

.tooltip-inner {
    color: #2c53a2;
    font-weight: 700!important;
}

body, .form-control, .card, .modal-content, .scrollable-menu, .page-link, .tooltip-inner {
    background-color: #31a6bd8c !important;
}

input, .tooltip-inner, .page-link, .dropdown-toggle, .card, .modal-content, .scrollable-menu, .custom-control-input:checked~.custom-control-label::before, .custom-control-label::before {
    border: 3px solid #2c53a2 !important;
}

.custom-control-input:checked~.custom-control-label::before, .dropdown-item:hover {
    background-color: #2c53a2 !important;
    color: #fff2d1 !important;
}

.custom-control-label::before {
    background-color: #fff2d1 !important;
}

.pagination>li>a {
    cursor: pointer;
}

.pagination>li.active>a {
  background: #2c53a2 !important;
  color: #fff;
}

hr {
    border: 2px solid #2c53a2;
}

ul {
    text-align: left;
}

tr, th {
    border-bottom: 2px solid #2c53a2 !important;
}

th {
    border-top: 2px solid #2c53a2 !important;
}

.modal-header {
    border-bottom: 3px solid #2c53a2;
}

 .modal-footer {
    border-top: 3px solid #2c53a2;
 }

.btn-pass {
    background-color: #2c53a2;
    border-color: #2c53a2;
}

.first-margin {
    width: 40%;
}

.col-titolo {
    width: 20%;
}

.icona-titolo{
    width: 30%;
    height: 100%;
}

.icona-panel{
    width: 22%;
    height: 100%;
}

.titolo{
    width: 70%;
    font-size: 300%;
    padding-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.second-margin {
    width: 35%;
}

.col-logout {
    width: 5%;
}

.my-panel-icon {
    vertical-align: middle !important;
    font-size: 100%;
    padding: 2% !important;
}

.comando{
    width: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.panel-col {
    width: 16.66%;
    padding-right: 0.5%;
    padding-left: 0.5%;
}

.my-table-device {
    word-break: break-all;
}

.my-text-table {
    vertical-align: middle !important;
    font-size: 90%;
    padding: 0.25% !important;
}

.col-check {
    width: 2%;
}

.col-codice {
    width: 18%;
}

.col-tipo {
    width: 5%;
}

.col-ip {
    width: 9%;
}

.col-mac {
    width: 12%;
}

.col-mac-info {
    width: 12%;
}

.col-user {
    width: 13%;
}

.col-password {
    width: 16%;
}

.col-ultimo {
    width: 13%;
}

.col-username {
    width: 28%;
}

.col-password-us {
    width: 30%;
}

.col-ruolo {
    width: 25%;
}

.btn-circle {
    border-radius: 100%;
}

.card-opaca {
    opacity: 0.65;
}

.button-del-add {
    padding: 0;
}

.col-route {
    width: 23%;
}

.col-ssid {
    width: 25%;
}

.col-ssid-psw{
    width: 35%;
}

.col-frq {
    width: 25%;
}