.mydiv {
  position: absolute;
  background-color: #D6D6D6;
  /*text-align: center;*/
  border: 1px solid #d3d3d3;
  width: 10%;
}

.mydivheader {
  padding: 5%;
  cursor: move;
  background-color: #2196F3;
  color: #fff;
}
.icona-nodo{
    width: 15%;
}

.sinottico {
  position: absolute;
  border: 1px solid #000000;
}